<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectionString" 
             connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='C:\Users\otdel\Downloads\Новая папка\Абибок-20230417T080211Z-001\Абибок\EXE\Фотоуслуги.mdf';Integrated Security=True;Connect Timeout=30" 
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
